* {
  margin: 0;
  padding: 0;
}

body {
  margin:0;
  padding: 0;
  background-color: #FDF6EC;
  color: #2D2D2D;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #1E1E1E;
  color: #FAFAFA;
}

body.dark .quote-box {
  background-color: #2F2B3A;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.controls label {
  margin-right: 10px;
}

.font-size-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

select {
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #A0C4FF;
  border: none;
  color: #2D2D2D;
  font-size: 16px;
}

.quote-box {
  background-color: FFE9E3;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  transition: background-color 0.3s ease;
  text-align: center;
}

blockquote {
  font-size: 22px;
  margin: 0;
}

#author {
  display: block;
  margin-top: 15px;
  color: #686565;
}

button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background-color: #A0C4FF;
  color: #2D2D2D;
  font-size: 16px;
  cursor: pointer;
  transition: backgroung-color 0.3s ease;
}

button:hover {
  background-color: #90B9F3;
}

.buttons-div {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.buttons-div div {
  display: flex;
  gap: 15px;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #666;
  margin-top: 30px;
}

@media (max-width: 500px) {
  .controls {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttons-div, .buttons-div div {
    flex-direction: column;
    align-items: center;
  }
}
