* {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff0f5;
  color: #4b4b4b;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: #1e1e1e;
  color: #eaeaea;
}

body.dark-mode .mode-icon {
  background-color: #37333f;
}

body.dark-mode .quote-box {
  background-color: #2f2b3a;
}

body.dark-mode #author {
  color: #c4b9d6;
}

body.dark-mode button:hover, 
body.dark-mode .mode-icon:hover {
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15),
    0 2px 4px rgba(255, 255, 255, 0.2);
}

/* body.dark-mode button,
body.dark-mode select {
  background-color: #66b2ff;
  color: #4d4b4b;
} */

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  flex: 1;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.controls label {
  margin-right: 10px;
}

.font-size-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

select {
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #cdb4db;
  border: none;
  color: #4b4b4b;
  font-size: 16px;
}

select:hover {
  background-color: #b29dd9;
}

.quote-box {
  background-color: #fff0f5;
  width: 100%;
  min-height: 200px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  transition: background-color 0.3s ease, font-size 0.3s, min-height 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

blockquote {
  font-size: 22px;
  margin: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#author {
  display: block;
  margin-top: 20px;
  color: #6e6e6e;
  font-style: italic;
  /* font-family: "Segoe Script", cursive; */
}

button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background-color: #cdb4db;
  color: #4b4b4b;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b29dd9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons-div {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.buttons-div div {
  display: flex;
  gap: 15px;
}

.random-btn {
  background-color: #cab8ff;
  display: flex;
  gap: 4px;
}

.random-btn:hover {
  background-color: #b4a1f2;
}

button.dark-mode-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.dark-mode-button:hover,
body.dark-mode button.dark-mode-button:hover {
  background: none;
  border: none;
  box-shadow: none;
}

.mode-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ede4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.mode-icon:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  font-size: 12px;
  background-color: #6e6e6e;
  color: #f1f1f1;
  margin-top: 30px;
  box-sizing: border-box;
}

footer p {
  line-height: 1.6;
}

@media (max-width: 500px) {
  .controls {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttons-div {
    flex-direction: column;
    align-items: center;
  }

  .quote-box {
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
